@mixin random-bgr() {
  background-color: rgb(random(255), random(255), random(255));
}

body {
  @include random-bgr();
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.mainClock {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8rem;
  font-weight: bold;
}
