.main {
  width: 100%;
  padding: 0 170px;
}
.movies {
  max-width: $main-width;
  margin-top: 66px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 63px;
  grid-row-gap: 60px;
}
.movie {
  box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.1);
  width: $movie-width;
  height: 917px;
  position: relative;
  &:hover {
    transform: scale(1.05);
    translate: all 5s ease-out;
  }
}
.product {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  &__description-genre {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 34px 35px 41px 35px;
  }
  &__description-genre-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__description {
    font-size: $movie-description;
    color: $movie-name-color;
    font-weight: bold;
    width: 587px;
  }
  &__genre {
    font-size: $font-size-lower-menu;
    color: $genre-color;
    width: 587px;
  }
  &__quantity-of-stars {
    width: 78px;
    height: 58px;
    border-radius: 5px;
    border: solid 2px $item-color-active;
    color: $item-color-active;
    font-size: $font-size-quantity-of-stars;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $item-color-active;
      color: $footer-hr-color;
      border: none;
    }
  }
  &__year {
    position: absolute;
    color: $genre-color;
    font-size: $font-size-nav-item;
    bottom: 220px;
    left: 40px;
  }
}
