.navigation-panel {
  width: 100%;
  height: 180px;
  padding: 0 170px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: nowrap;
  &__container {
    border-bottom: 2px solid $hr-color;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__list {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    font-size: $font-size-nav-item;
  }
  &__list-item {
    color: $footer-menu-color;
    display: flex;
    align-items: center;
    &:hover {
      color: $item-color-active;
      border-bottom: 4px solid $item-color-active;
      z-index: 1;
      transform: translateY(2px);
      translate: all 2s;
    }
  }
  &__list-item:first-child {
    margin-left: 0;
  }
}
.view-type {
  display: flex;
  align-items: center;
  &__window {
    width: 42px;
    height: 42px;
    background-color: $footer-menu-color;
    margin: 15px;
  }
  &__list {
    width: 42px;
    height: 42px;
    background-color: $footer-menu-color;
    margin: 15px;
  }
}
