* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
  color: rgb(41, 41, 41);
}

body {
  min-height: 100vh;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
figure,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

button,
input,
textarea {
  font-size: 1rem;
  outline: none;
}

.page-container {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.ads{height:40px;background-color:#33333a;margin:0 auto;width:100%;display:flex;justify-content:center;align-items:center}.ads__text{color:#fff;font-size:12px}.nav-bar{width:100%;background-color:#fff;height:80px;box-shadow:0 1px 0 0 rgba(0,0,0,0.1)}.nav-bar-content{width:1140px;margin:0 auto;height:100%;display:flex;justify-content:space-between;align-items:center}.nav-bar-content-nav-block{width:50%;height:100%;display:flex;justify-content:stretch}.nav-bar-content-nav-block-logo{width:30%;background-image:url(./assets/images/matter.png);background-repeat:no-repeat;background-position:center}.nav-bar-content-nav-block-list-items{width:70%;display:flex;flex-direction:row;justify-content:space-around;align-items:center;letter-spacing:2px}.nav-bar-content-nav-block-list-items-item{font-size:12px;color:#33333a}.nav-bar-content-nav-block-list-items-item_active{color:#ff5e1b;font-size:12px}.nav-bar-content-account-block{width:45%;height:100%;display:flex;justify-content:center;align-items:center;letter-spacing:2px}.nav-bar-content-account-block-username{font-size:12px;color:#33333a;margin:0 25px}.nav-bar-content-account-block-userphoto{width:40px;height:40px;border-radius:20px}.nav-bar-content-account-block-icons{display:flex;height:100%;align-items:center;width:50%;justify-content:space-evenly}.arrow{border:solid #33333a;border-width:0 1px 1px 0;display:inline-block;padding:3px;transform:rotate(45deg) translateY(-3px)}.arrow_active{border:solid #ff5e1b;border-width:0 1px 1px 0;display:inline-block;padding:3px;transform:rotate(-135deg)}.page-content{width:1140px;height:100%;margin:0 auto}.page-content-section-header{margin-top:65px;font-size:60px;font-weight:normal;height:115px;display:flex;align-items:center;justify-content:center;padding-bottom:24px}.page-content-header-image{background-image:url(./assets/images/journal-big-copy-5.jpg);background-repeat:no-repeat;background-size:cover;width:100%;height:420px}.page-content-standard-blocks{width:100%;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between;align-items:stretch}.page-content-large-block-item{width:750px;height:560px;margin-top:60px}.page-content-standard-block-item{margin-top:60px;width:361px;height:560px;background-color:#fcfcfc}.page-content-standard-block-item__image{width:100%;height:420px;background-repeat:no-repeat;background-size:cover}.page-content-standard-block-item__description{margin-top:22px;margin-left:20px;margin-right:20px}.page-content-standard-block-item__button{width:112px;height:40px;background-color:#2f4f4f;color:#fff;border:none;margin:8px 229px 20px 20px}.image-1{background-image:url(./assets/images/scarf-1.jpg)}.image-2{background-image:url(./assets/images/scarf-2.jpg)}.image-3{background-image:url(./assets/images/shoes-1.jpg)}.image-4{background-image:url(./assets/images/shoes-2-width2x.jpg)}.image-5{background-image:url(./assets/images/shoes-3.jpg)}.page-content-next-content-button{background-color:#2f4f4f;color:#fff;width:180px;height:40px;margin:40px auto;border:none;text-align:center}.footer{background-color:#33333a;width:100%;height:320px;display:flex;flex-direction:column;justify-content:space-around;align-items:center}.footer-container{width:1140px;height:100%;display:flex;flex-direction:column;justify-content:space-around;align-items:center;color:#dedede}.footer-content{flex-grow:4;width:100%;padding-top:41px;display:flex;flex-direction:row;justify-content:stretch}.footer-content-categories{flex-grow:1}.footer-content-categories__header{font-size:18px;padding-bottom:19px}.footer-content-categories__list{font-size:14px}.footer-content-categories__list-item{margin-bottom:10px}.footer-content-partners{flex-grow:1}.footer-content-partners__header{font-size:18px;padding-bottom:19px}.footer-content-partners__list{font-size:14px}.footer-content-partners__list-item{margin-bottom:10px}.footer-content-contacts{flex-grow:1}.footer-content-contacts__header{font-size:18px;padding-bottom:19px}.footer-content-contacts__description{font-size:14px}.footer-content-contacts__list-item{margin-bottom:10px}.footer-content-contacts__list-item:nth-child(2){margin-bottom:35px}.footer-content-subscribe{flex-grow:3;width:30%}.footer-content-subscribe__header{font-size:18px;padding-bottom:19px}.footer-content-subscribe__input-field{background-color:#33333a;color:#dedede;border:solid 1px #666666;width:360px;height:40px}.footer-content-subscribe-button{font-size:12px;background-color:#fff;color:#33333a;border:none;width:166px;height:40px;margin-left:30px}.footer-copyright{flex-grow:1}


/*# sourceMappingURL=lesson_9.css.map*/